{% extends 'base.html' %}

{% block title %}Cambiar password{% endblock %}

{% block content %}
{% set active = 'changePassword' %}
{% include "menu.html" %}
<div class="container-flex">
    <form class="row g-3" action="/change_password" method="post">
        <div class="col-6">
            <input class="form-control me-2" type="password" placeholder="Password" aria-label="Password" name="password">
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Aceptar</button>
            <button class="btn btn-danger" type="reset">Reset</button>
        </div>
    </form>
</div>
{% endblock %}